.container {
  display: flex;
  border: 1px solid rgba(255, 255, 255, 0.158);
  align-content: space-between;
  flex-direction: row;
  column-gap: 10px;
  width: 600px;
  height: 200px;
  flex-wrap: wrap;
  padding: 10px;
}

.item {
    background-color: blue;
    flex-shrink: 2;
    flex-basis: 100px;
    border: 1px solid azure;
    width: 30% ;
height: 10%;
  padding: 10px;
  text-align:center;

}

