div {
    background-color: lightblue;
    color:navy;
    border-top: 15px solid navy;
    border-bottom: 15px solid navy;
 }
 
 #div1 {
   width: 80%;
   padding: 60px;
   border: 60px solid navy;
   margin-bottom: 2rem;
 }
 
 #div2 {
   width: calc(80%+20+15+20);
   padding-left: 20px;
   padding-right: 15px;
   border-left: 20px solid navy;
   border-right: 15px solid navy;
   margin-bottom: 2rem;
 }
 
 #div3 {
   width: 70%;
   padding-left: 1px;
   padding-right: 19px;
   border-left: 14px solid navy;
   border-right: 21px solid navy;
 }